%script{:src => "http://api.tiles.mapbox.com/mapbox.js/v1.3.0/mapbox.js"}
%link{:href => "http://api.tiles.mapbox.com/mapbox.js/v1.3.0/mapbox.css", :rel => "stylesheet"}/
/[if lte IE 8]
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.0/mapbox.ie.css' rel='stylesheet' >
#map
:javascript
  var map = L.mapbox.map('map', 'ghholt.map-7po6ov6d');

  L.mapbox.markerLayer(
    { type: "FeatureCollection", 
    id:'ghholt.map-7po6ov6d',
    "features": [
    {
      type: 'Feature',
      geometry: {
          type: 'Point',
          coordinates: [-74.011111, 40.714722]
      },
      properties: {
          title: 'A Single Marker',
          description: 'Just one of me',
          'marker-size': 'large',
          'marker-color': '#f0a'
      }
    },
    {
      type: 'Feature',
      geometry: {
          type: 'Point',
          coordinates: [-74.011188, 40.714786]
      },
      properties: {
          title: 'A Single Marker',
          description: 'Just one of me',
          'marker-size': 'large',
          'marker-color': '#f0a'
      }
    }
    ]
  }).addTo(map);
