%script{:src => "http://api.tiles.mapbox.com/mapbox.js/v1.3.0/mapbox.js"}
%link{:href => "http://api.tiles.mapbox.com/mapbox.js/v1.3.0/mapbox.css", :rel => "stylesheet"}/
/[if lte IE 8]
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.0/mapbox.ie.css' rel='stylesheet' >
#map
:javascript
  var map = L.mapbox.map('map', 'ghholt.map-7po6ov6d');

  var markerLayer = L.mapbox.markerLayer().loadURL('/place/index.json');

  map.addLayer(markerLayer);
