// Font Sizes ---------------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700)

$base-font-size: 12px
$base-line-height: 21px

// Change this font
$sans-serif: 'source sans pro', sans-serif


// Fonts -----------------------------------------*
h1
  font-family: $sans-serif
h2
  font-family: $sans-serif
h3
  font-family: $sans-serif
h4
  font-family: $sans-serif
p
  font-family: $sans-serif
ul
  font-family: $sans-serif

// weights
.extra-light
  font-weight: 200
.light
  font-weight: 300
.regular
  font-weight: 400
.bold
  font-weight: 700

// Map Styling -----------------------------------------*

#map
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  z-index: -1



// Global Styles -----------------------------------------*
.center
  margin-left: auto
  margin-right: auto

.brand
  float: left

ul.nav
  list-style: none
  margin: 0 2em 2em
  padding: 0

ul.nav li
  display: inline

ul.nav li a
  color: white
  padding: 1em
  text-align: center
  float: right
  text-decoration: none
  &:hover
    opacity: 0.8

#flash_notice, #flash_alert
  padding: 5px 8px
  margin: 10px 0

#flash_notice
  background-color: #CFC
  border: solid 1px #6C6

#flash_alert
  background-color: #FCC
  border: solid 1px #C66

.body, html
  height: 100%
  margin: 0
  padding: 0
  position: relative
  line-height: 1.2em

body
  margin: 0


// Map Information -----------------------------------------*
.container
  height: 100%

  #map
    width: 100%
    position: absolute
    top: 0
    left: 0
    bottom: 0
    margin-top: 4em

// Building Information -----------------------------------------*
.container
  height: 100%

.information-box
  // Positions information box to take 100% height of screen
  position: absolute
  top: 0
  right: 0
  bottom: 0
  background-color: white
  border-left: 1.5em solid white
  overflow: auto
  padding: 0 30px 10px
  margin-top: 3em

  .building-image
    min-height: 45%
    overflow: hidden
    position: relative
    z-index: 1

    .background-image
      // Get this to actually center on the center of the image
      height: 100%
      width: auto
      min-width: 100%
      min-height: 400px
      position: absolute

  .building-image-thumbnail
    margin-top: 3%
    margin-right: 3%

    .thumbnail
      width: 60px
      min-height: 60px

  .building-information
    margin: 2.5% 0

    .coordinates
      display: inline
      margin-right: 3%
      font-family: $sans-serif

// Sessions (login, signup, edit) -----------------------------------------*
#session-page
  margin-top: 3em

  margin-left: auto
  margin-right: auto

  background-color: blue

  .form-vertical
    background-color: red

    .form-field
      background-color: purple
      padding: 2em


// Header -----------------------------------------*
#header
  width: 100%
  color: white
  background-color: black
  // z-index: 9999999999
  height: 3em
  position: fixed
  top: 0

  .brand 
    height: 3em

// Footer -----------------------------------------*
#footer
  position: fixed
  bottom: 0
  .made-in-ny
    float: left
    padding: 1em
    bottom: 0


/* ----- SimpleForm Styles ----- */

.simple_form
  div.input
    margin-bottom: 10px
    clear: both

  div.input
    margin-bottom: 10px
    clear: both
    background-color: purple

  label
    float: left
    width: 100px
    text-align: right
    margin: 2px 10px

  .error
    clear: left
    color: black
    display: block
    margin-left: 120px

  .hint
    clear: left
    margin-left: 120px
    color: #555
    display: block
    font-style: italic

div.boolean, .simple_form input[type='submit']
  margin-left: 120px

div.boolean label, label.collection_radio_buttons
  float: none
  margin: 0

label.collection_radio_buttons
  margin-right: 10px
  vertical-align: -2px
  margin-left: 2px

.field_with_errors
  background-color: #ff3333

input.radio
  margin-right: 5px
  vertical-align: -3px

input.textarea
  background-color: purple

input.string
  background-color: purple

input.check_boxes
  margin-left: 3px
  vertical-align: -3px

label.collection_check_boxes
  float: none
  margin: 0
  vertical-align: -2px
  margin-left: 2px



